<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!--  어플리케이션에서 사용될 객체들은 여기에 명시한다. -->
	
	<bean id="electPan" class="com.academy.SpringBasicApp.cook.ElectPan"/>
	<bean id="friPan" class="com.academy.SpringBasicApp.cook.FriPan"/> 
	
	<bean id="chef" class="com.academy.SpringBasicApp.cook.Chef">
	<!--특정 bean을 다른 bean에 주입시키는 것을 xml로 표현할 때 weaving(엮다.)한다라고 표현한다. -->
		<property name="pan" ref="friPan"/>
	</bean>
	
	<!-- 윈도우 창과 그 재료들을 엮여본다. -->
	<bean id="jTextArea" class="javax.swing.JTextArea">
		<constructor-arg index="0" value="20"></constructor-arg>
		<constructor-arg index="1" value="15"></constructor-arg>
	</bean>
	
	<bean id="jButton" class="javax.swing.JButton">
		<constructor-arg type="String" value="나버튼"></constructor-arg>
	</bean>
	
	<bean id="jTextField" class="javax.swing.JTextField">
		<constructor-arg value="20" type="int"></constructor-arg>
	</bean>
	
	<!-- MyWin과 그 재료들을 weaving -->
	<bean id="myWin" class="com.academy.SpringBasicApp.gui.MyWin">
		<property name="area" ref="jTextArea"></property>
		<property name="bt" ref="jButton"></property>
		<property name="t_input" ref="jTextField"></property>
	</bean>
	
</beans>
