<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">  
<!-- 
	앞으로 쿼리문은 java 클래스 안에 두지말고 mybatis 안 xml에 작성하다
	지금까지 DAO에 작성했던 상투적이고 거창했던 jdbc코드를 사용하는게 아니라 
	개발자가 쿼리문에 집중할 수 있고 유지보수 성을 올리기 위해 sql Mapper 중 하나인 mybatis 프레임 워크를 이용한다. (Hibernate와 mybatis와는 약간의 차이가 있다.)
	s
 -->
 <insert id="insert" parameterType="Board">
 	insert into board(title, writer, content) values (#{title}, #{writer}, #{content})
 </insert>
 
 <select id = "selectAll" resultType="Board">		<!-- board는 한 건인데 전체를 출력한다..? 여기에 사실 List가 준비되어 있다. 
 																												추출되는 데이터사 5개면 5개를 DTO에 넣고 이거를 List로 다시 반환해준다. (자동 매핑을 해준다) --> 
 	select board_id, title, writer, content, regdate, hit from board order by board_id desc
 </select>
 
 <select id="select" resultType="Board" parameterType="int">
 	select * from board where board_id=#{board_id}
 </select>
 
 <delete id = "delete" parameterType="int">
 	delete from board where board_id=#{board_id}
 </delete>
 
 <update id="update" parameterType="Board" >
 	update board set title=#{title}, writer=#{writer}, content=#{content} where board_id=#{board_id}
 </update>
 
 

</mapper>