<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>model2app</display-name>
	
	<!-- 톰캣이 가동될 때를 감지하는 리스너를 활용해보자.
	   	서버가 가동될 때 메모리에 올리고싶은 객체 등이 있을 때 -->
	<listener>
		<listener-class>com.academy.model2app.listener.MyListener</listener-class>
	</listener>
	<!-- 서버가 켜질 때 리스너에게 전달할 것 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/mapppig.properties</param-value>
	</context-param>
	
	
	
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>com.academy.model2app.controller.DispatcherServlet</servlet-class>
		
		<!-- 이 서블릿이 init()에 의해 초기화 될 때 개발자가 전달하고 싶은 데이터가 있다면 아래의 태그를 이용할 수 있다. 
		<init-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/mapppig.properties</param-value>
		</init-param>		
		-->
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	


	
	



</web-app>